<h1>Using OAuth 2.0</h1>
<p>This project is a sample app to demonstrate the use of OAuth 2.</p>
<p>Following the steps provided will eventually display your first and last name, and a 
    URL to access your Google Plus account.
</p>
<p>Click <a href="{{url}}">here</a> to begin</p>